<template name="Home">
	<div class="home">
		<div class="parallax-container valign-wrapper">
			<h1 class="title">PlzStop.Me</h1>
			<div class="parallax"><img src="{{background_image}}"></div>
		</div>
		<div class="main">
			<div class="innerMain">
				<div class="welcome">
					<p>A Web app that allows students to anonymously express their understanding of lecture material in real-time to the professor as the lecture progresses. This gives the professor the means of clarifying lecture slides that students are having trouble with, without the student having to reveal to the class/professor their confusion.</p>
				</div>
			</div>
		</div>
	</div>
</template>
